azulVerde = #66FFCC
morado = #B88AE6
borde-redondo(p)
    border-radius p
    -moz-border-radius p
    -webkit-border-radius p
transicion(prop)
	transition-property prop
	transition-duration 1s
	-webkit-transition-property prop
	-webkit-transition-duration 1s
	-moz-transition-property prop
	-moz-transition-duration 1s
// ids-----------------------------------------------
#tablaCarritoCompras tr:nth-child(2n)
	background-color #CCEBEB
// clases------------------------------------------
body
	background-color #E6E6E6
.bottom-cart
	background-color #FFFFD6
	bottom -25%
	font-size 1.2em
	height 25%
	max-height 250px
	max-width 100%
	position fixed
	text-align center
	width 100%
	z-index 100
	
.boton-carro
	background-color #FFFFD6
	height 25px
	left 50%
	position absolute
	text-align center
	top -25px
	width 25px
	z-index 100
.destino
	color azulVerde
	cursor pointer
	&:hover 
		> .divDestino
			border solid
		
.link
	text-decoration none 
	color inherit
	transicion('color')
	&:hover 
		color azulVerde
		cursor pointer 
		font-size bold
		text-decoration none
.link-cart
	font-size 1.2em
	text-align center
	transicion('border')
	transicion('font-size')
	&:hover
		border-bottom 2px solid #0099CC
		border-top 2px solid #0099CC
		font-size 1.4em
.link-confir
	margin-top 5px
	font-weight bold
	font-size 1.1em	
.p
	box-shadow 0px 0px 5px morado !important
	-webkit-box-shadow 0px 0px 5px morado !important
	-moz-box-shadow 0px 0px 5px morado !important
	padding 4px
	text-align center
	background-color #FFF5F5
.p-linea
	margin-top 7px
	text-align center
.tabla
	thead
		background-color morado
		color white
	tbody
		tr:nth-child(even)
			background-color #E6CCFF
		tr:nth-child(odd)
			background-color #F5EBFF
.t-destino
	cursor pointer
	color #0000FF
	font-size 1.1em
	font-weight bold
	-webkit-transition border-bottom .3s
	transition border-bottom .3s
	&:hover
		border-bottom solid
.t-pagos
	a 
		text-decoration none
		color inherit
	cursor pointer
	color #0000FF
	font-size 1.1em
	font-weight bold
	-webkit-transition border-bottom .3s
	transition border-bottom .3s
	&:hover
		border-bottom solid
.panel-pagos
	font-size 1.3em
	
.ver-carrito
	border 2px solid azulVerde
	borde-redondo(5px)
	height 80%
	top 10%
.view-cart
	background-color white
	height 100%
	