.bottom-cart {
  background-color: #ffffd6;
  bottom: 0;
  height: 20%;
  max-height: 250px;
  position: fixed;
  width: 100%;
  max-width: 100%;
}
.boton-carro {
  background-color: #ffffd6;
  height: 25px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: -25px;
  width: 25px;
}
.cart-compras {
  background-color: #fff;
  height: 100%;
  width: 20%;
}
