border-radius(p)
	-moz-border-radius p
    -webkit-border-radius p
    border-radius p
.bottom-cart
	background-color #FFFFD6
	bottom 0
	height 20%
	max-height 250px
	position fixed
	overflow hidden
	width 100%
	max-width 100%
.cart-compras
	background-color red
	border-radius(50%)
	height 90%
	width 20%
	